.invoice-box {
  border: 2px solid black;
  width: 100%;
  margin: 0 auto;
  /* height: auto; */
  /* overflow-y: visible; */
}
.invoice-heading {
  position: relative;
  text-align: center;
  padding: 0.5em;
}

.invoice-heading > p {
  font-weight: bold;
  padding-bottom: 0.3em;
}
.address-invoice {
  /* outline: 1px solid red; */
  width: 100%;
  display: flex;
}
.address-invoice .address {
  border-top: 2px solid black;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
  width: 50%;
  padding: 0.3em;
  font-size: 0.9em;
}
.address-invoice .invoice {
  border-top: 2px solid black;
  border-left: 1px solid black;
  border-bottom: 2px solid black;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0.3em;
}
.address-invoice .invoice label {
  font-size: 0.9em;
}
.address-invoice .invoice span {
  font-size: 0.9em;
}
.invoice-box table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 1px solid black;
  margin: 0 auto;
}
.invoice-box td,
.invoice-box th {
  border: 1px solid #000;
  text-align: left;
  padding: 0.2em;
  font-size: 0.8em;
}
.invoice-box td {
  border-top: none;
  border-bottom: none;
  border-left: none;
}
.invoice-box tbody {
  border-bottom: 1px solid black;
}
.invoice-box .signature {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2em 0.6em 0.6em;
}
.invoice-box .signature2 {
  text-align: right;
  padding: 1em 10em 0.7em 0;
}
.invoice-box .bottom-line {
  /* border: 1px solid red; */
  margin: 1em;
}
.invoice-box .bottom-line p {
  padding-bottom: 0.5em;
}
